In [ ]:
import pandas as pd
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', None)

import warnings
warnings.simplefilter('ignore')

In [ ]:
df=pd.read_csv('scrubbed.csv')

In [ ]:
new_cols=[c.strip() for c in df.columns]
df=df.rename(columns={k:v for k,v in zip(df.columns, new_cols)})

In [ ]:
df.country.value_counts()

In [ ]:
df.duplicated().sum()

In [ ]:
df2 = df.dropna(axis=0,how='all')

In [ ]:
df2.shape

In [ ]:
df2= df2.dropna(thresh = 3)

In [ ]:
df2.shape

In [ ]:
df2['shape'].value_counts()

In [ ]:
df2.state=df2.state.dropna()

In [ ]:
df2.head()

In [ ]:
df2=df2.drop('state', axis=1)

In [ ]:
df2=df2.drop('duration (hours/min)',axis=1)

In [ ]:
df2.country.fillna('unknown')

In [ ]:
df2.country.value_counts()

In [ ]:
df2.head()

In [ ]:
df2.shape

In [ ]:
df2=df2.drop('comments',axis=1)

In [ ]:
df2=df2.drop('date posted',axis=1)

In [ ]:
df2["coordinates"] = df["latitude"].map(str) + "," + df["longitude"].map(str)

In [ ]:
df2.head()

In [ ]:
df2['duration_in_secs']=df2['duration (seconds)']

In [ ]:
df2.head()

In [ ]:
nan_cols = df2.isna().sum()

In [ ]:
nan_cols[nan_cols>0]

In [ ]:
df2['country']=df2['country'].fillna('unknown')

In [ ]:
df2['shape']=df2['shape'].fillna('other')

In [ ]:
df2=df2.drop('duration (seconds)',axis=1)

In [ ]:
df2.drop(df2[df2['country'] !="us"].index, inplace = True)

In [ ]:
df2.head()

In [ ]:
df3 = df2[['datetime','duration_in_secs','country','city','shape','coordinates']]

In [ ]:
df3.head()

In [ ]:
df2.shape ,df3.shape

In [ ]:
df3.city.value_counts()

In [ ]:
lst=['seattle','phoenix','portland','las vegas','los angeles']

In [ ]:
df3 = df3[df3['city'].isin(lst)]

In [ ]:
df3.city.value_counts()

In [ ]:
df3.head()

In [ ]:
df3.info()

In [ ]:
! pip install haversine

In [ ]:
from haversine import haversine, Unit

In [ ]:
from haversine import haversine, Unit

lyon = (45.7597, 4.8422) # (lat, lon)
paris = (48.8567, 2.3508)

haversine(lyon, paris)

In [ ]:
def distancia(x):
    area_51 = (37.234332396 , -115.80666344) 
    
    return harvesine(x,area_51)

def cambio(x):
    n1=float(x.split(',')[0])
    n2=float(x.split(',')[1])
    
    return(n1,n2)

In [ ]:
def distancia2(x):
    palo_verde = (33.3916667 , -112.8638889) 
    
    return haversine(x, palo_verde)

In [ ]:
df3.coordinates= df3.coordinates.apply(cambio)

In [ ]:
df3.head()

In [ ]:
df3.info()

In [ ]:
df3['distance_in _km_from_a51'] = df3.coordinates.apply(distancia)

In [ ]:
df3['distance_in _km_from_a51'] = df3['distance_in _km_from_a51'].astype(int)

In [ ]:
df3['coordinates_area_51']= '37.234332396 , -115.80666344'

In [ ]:
df3['coordinates_area_51']= df3['coordinates_area_51'].apply(cambio)

In [ ]:
df3['coordinates_palo_verde_nuclear_generating_station']= '33.3916667 , -112.8638889'

In [ ]:
df3['coordinates_palo_verde_nuclear_generating_station']=df3['coordinates_palo_verde_nuclear_generating_station'].apply(cambio)

In [ ]:
df3['distance_in _km_from_palo_verde_ngs']=df3.coordinates.apply(distancia2)

In [ ]:
df3['distance_in _km_from_palo_verde_ngs']=df3['distance_in _km_from_palo_verde_ngs'].astype(int)

Mergeo del dataframe 1= registros USA UFOS(csv limpio) + coordenadas area 51 (webscapping)

In [ ]:
df3.head()

In [ ]:
df3 = df3[['datetime','duration_in_secs','country','city','shape','coordinates', 'coordinates_area_51', 'distance_in _km_from_a51']]

In [ ]:
df3.head()

In [ ]:
df3['datetime']=pd.to_datetime(df3['datetime'], errors='coerce')

In [ ]:
df3.info()

In [ ]:
df3.head()

In [ ]:
df3 = df3.sort_values(by='datetime', ascending = False )

In [ ]:
df3.head(15)

In [ ]:
df3.city.value_counts()

In [ ]:
df3.shape

In [ ]:
nan_cols= df3.isna().sum()

In [ ]:
df3.dropna(subset=['datetime'])

In [ ]:
df3.iloc[2054]

In [ ]:
df3.shape

In [ ]:
from selenium import webdriver

In [ ]:
webdriver.Chrome('/mnt/c/Users/Vicente/Desktop/Semana_3/lab_scraping_selenium/your-code/chromedriver.exe')

In [ ]:
PATH = '/mnt/c/Users/Vicente/Desktop/Semana_3/lab_scraping_selenium/your-code/chromedriver.exe'

In [ ]:
driver=webdriver.Chrome(PATH)
url = 'https://latitude.to/articles-by-country/us/united-states/120/area-51'
driver.get(url)
dd=driver.find_elements_by_id('DD')
dd
coordenadas=[a.get_attribute('value') for a in dd]
coordenadas

In [ ]:
pd.DataFrame(coordenadas,columns= ['area_51_coordinates']) #generar un dataframe de un webscrapping

In [ ]:
driver=webdriver.Chrome(PATH)
url = 'https://www.topozone.com/arizona/maricopa-az/locale/palo-verde-nuclear-generating-station/'
driver.get(url)
dd=driver.find_elements_by_id('data')
dd
coordenadas=[a.get_attributes('strong') for a in dd]

In [ ]:
coordenadas

Mergeo del dataframe 2( registros USA UFOS(csv limpio) + coordenadas area 51 (webscapping)) + mergeo de los presidentes en EEUU (csv)

In [ ]:
df_p=pd.read_csv('us_presidents.csv')  #otro csv para hacer un estudio sobre cuantos avistamientos suceden dependiendo del presidente

In [ ]:
df_p=df_p.drop('Unnamed: 0',axis=1)

In [ ]:
df_p=df_p.drop('S.No.',axis=1)

In [ ]:
df_p=df_p.drop('prior',axis=1)

In [ ]:
df_p=df_p.drop('vice',axis=1)

In [ ]:
df_p=df_p.drop('party',axis=1)

In [ ]:
df_p.end= df_p.end.fillna('January 20, 2017')

In [ ]:
df_p['start']=pd.to_datetime(df_p['start'], errors='coerce')

In [ ]:
df_p['end']=pd.to_datetime(df_p['end'], errors='coerce')

In [ ]:
df_p

In [ ]:
df_p=

In [ ]:
#dataset = pd.merge(df3,df_p, left_on=, right_on="")

In [ ]:
df_p

In [ ]:
import mysql.connector as conn

In [ ]:
def crear_db(nombre, user='root', password='xx', check=True):
    
    crea_db=conn.connect(host='localhost', user= user, passwd= password)

    cursor=crea_db.cursor()

    cursor.execute(f'drop database if exists {nombre}')
    cursor.execute(f'create database {nombre}')
    
    print('Hecho, base de datos creada. ;)')
    
    if check:
        cursor.execute('show databases')
        for x in cursor:
            print(x)

In [ ]:
def crear_tabla_desde_df(df, nombre_tabla, nombre_db, user='root', password='xx', check=True, drop=False):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    cursor=db.cursor()
    
    if drop:
        cursor.execute(f'drop table if exists {nombre_tabla}')
    
    tabla=f"create table {nombre_tabla}(id int, {' varchar(200),'.join(df.columns)} varchar(200));"
    print(tabla)
    
    cursor.execute(tabla)
    
    print(f'Hecho, tabla {nombre_tabla} creada. ;)')
    
    if check:
        cursor.execute('show tables')
        for x in cursor:
            print(x)

In [ ]:
def insertar_datos(df, nombre_tabla, nombre_db, user='root', password='xx', check=True):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    cursor=db.cursor()
    
    for i in range(len(df)):
    
        insert_query='insert into {} (id, {}) values {};'\
                     .format(nombre_tabla, ','.join(df.columns), tuple(np.insert(df.iloc[i].values, 0, i)))

        cursor.execute(insert_query)

    db.commit()
    
    print(f'Hecho, datos dentro de tabla {nombre_tabla}. ;)')
    print()
    print(insert_query)

In [ ]:
def leer_sql(query, nombre_tabla, nombre_db, user='root', password='xx'):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    
    data=pd.read_sql(query, db)
    
    return data

In [ ]:
crear_db('df3')

In [ ]:
crear_tabla_desde_df(df, 'ufos', 'df3')

In [ ]:
insertar_datos(df, 'ufos', 'df3')

In [ ]:
leer_sql('select * from ufos limit 3', 'ufos', 'df3')  # query, tabla, db