In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import numpy as np
import re
from datetime import datetime
import time
import warnings
import pymysql
import mysql.connector as conn
from sqlalchemy import create_engine
from pandas.core.common import SettingWithCopyWarning
from googletrans import Translator
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
url ='https://en.wikipedia.org/wiki/List_of_countries_by_income_equality'
#unl = 'https://www.indexmundi.com/facts/indicators/SI.POV.GINI/rankings'

In [3]:
PATH='/home/jbloch3/Documents/Proyecto_ETL/chromedriver'
driver=webdriver.Chrome(PATH)
driver.get(url)

In [4]:
#obtenemos información de la página de scrapeando con selenium
cabeza=driver.find_element_by_tag_name('thead')
cabeceras=[c.text for c in cabeza.find_elements_by_tag_name('th')]
cabeceras[0] = 'Ranking_gini'
for i in range(len(cabeceras)):
    cabeceras[i] = cabeceras[i].replace(' ', '_')
cabeceras

['Ranking_gini',
 'UN_R/P',
 'World_Bank_Gini[4]',
 'CIA_R/P[5]',
 'CIA_Gini[6]',
 '10%[7]',
 '20%[8]',
 '%',
 'Year',
 '10%',
 'Year',
 '%',
 'Year']

In [5]:
cabeceras = ['Country', 'UN_R/P_10%', 'UN_R/P_20%', 'WB_Gini_%', 'WB_Gini_Year', 'CIA_R/P_10%', 'CIA_R/P_Year', 'CIA_Gini_%', 'CIA_Gini_Year']
#Lo que empecé a hacer era ridículo... 
#cabeceras = ['Countries', cabeceras[1]+ cabeceras[5], cabeceras[1]+ cabeceras[6], cabeceras[2].strip('[4]')+ cabeceras[7],\
   #          cabeceras[2].split('[4]')+ cabeceras[8], cabeceras[3].strip('[5]')+ cabeceras[9], cabeceras[3].strip('[5]')+ cabeceras[10],\
   #         cabeceras[4].strip('[6]')+ cabeceras[8], cabeceras[3]+ cabeceras[8]
cabeceras

['Country',
 'UN_R/P_10%',
 'UN_R/P_20%',
 'WB_Gini_%',
 'WB_Gini_Year',
 'CIA_R/P_10%',
 'CIA_R/P_Year',
 'CIA_Gini_%',
 'CIA_Gini_Year']

In [6]:
tabla=driver.find_element_by_tag_name('tbody')

filas=tabla.find_elements_by_tag_name('tr')

datos=[[e.text.strip().replace(',','.') for e in f.find_elements_by_tag_name('td')] for f in filas]

datos[:10]

[['Afghanistan', '', '', '', '', '', '', '', ''],
 ['Albania', '7.2', '4.2', '33.2', '2017', '7.2', '2004', '26.9', '2012 est.'],
 ['Algeria', '9.6', '4.0', '27.6', '2011', '9.6', '1995', '35.3', '1995'],
 ['Angola', '', '9.0', '51.3', '2018', '', '', '', ''],
 ['Argentina',
  '31.6',
  '8.8',
  '41.4',
  '2018',
  '35.0',
  '2007 Jan.–Mar.',
  '41.7',
  '2017'],
 ['Armenia',
  '8.0',
  '5.0',
  '34.4',
  '2018',
  '25.8',
  '2004',
  '34.4[9]',
  '2018[10]'],
 ['Australia', '12.5', '6.3', '34.4', '2014', '12.7', '1994', '30.3', '2008'],
 ['Austria', '6.9', '4.9', '29.7', '2017', '6.8', '2004', '26.3', '2007'],
 ['Azerbaijan', '9.7', '', '26.6', '2005', '9.5', '2001', '33.7', '2008'],
 ['Bahrain', '', '', '', '', '', '', '', '']]

In [7]:
#Creamos un DF de Pandas con la info de los ratios de desigualdad
df_gini=pd.DataFrame(datos, columns=cabeceras)
df_gini

,Country,UN_R/P_10%,UN_R/P_20%,WB_Gini_%,WB_Gini_Year,CIA_R/P_10%,CIA_R/P_Year,CIA_Gini_%,CIA_Gini_Year
0,Afghanistan,,,,,,,,
1,Albania,7.2,4.2,33.2,2017,7.2,2004,26.9,2012 est.
2,Algeria,9.6,4.0,27.6,2011,9.6,1995,35.3,1995
3,Angola,,9.0,51.3,2018,,,,
4,Argentina,31.6,8.8,41.4,2018,35.0,2007 Jan.–Mar.,41.7,2017
...,...,...,...,...,...,...,...,...,...
173,Palestine,,5.6,33.7,2016,,,,
174,Yemen,8.6,6.1,36.7,2014,8.6,2003,37.7,2005
175,Zambia,,21.1,57.1,2015,,,57.5,2010
176,Zimbabwe,,8.6,44.3,2017,,,50.1,2006
177,World,,,,,12.0,2002 est.,38.0,2007

In [8]:
null_cols = df_gini.isnull().sum()
null_cols[null_cols > 0]

Series([], dtype: int64)

In [9]:
#Eliminamos algunas columnas que no nos parecen interesantes
df_gini=df_gini.drop('CIA_R/P_10%', axis= 1)
df_gini=df_gini.drop('CIA_R/P_Year', axis= 1)
df_gini=df_gini.drop('CIA_Gini_%', axis= 1)
df_gini=df_gini.drop('CIA_Gini_Year', axis= 1)
df_gini

         Country UN_R/P_10% UN_R/P_20% WB_Gini_% WB_Gini_Year
0    Afghanistan
1        Albania        7.2        4.2      33.2         2017
2        Algeria        9.6        4.0      27.6         2011
3         Angola                   9.0      51.3         2018
4      Argentina       31.6        8.8      41.4         2018
..           ...        ...        ...       ...          ...
173    Palestine                   5.6      33.7         2016
174        Yemen        8.6        6.1      36.7         2014
175       Zambia                  21.1      57.1         2015
176     Zimbabwe                   8.6      44.3         2017
177        World

[178 rows x 5 columns]

In [10]:
countrylst = list(df_gini.Country)
countrylst[:10]

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'DR Congo',
 'Congo',
 'Costa Rica',
 'Ivory Coast',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'EU',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'North Korea',
 'South Korea',
 'Kosovo[a]',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'North Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'F.S. Micronesia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'São Tomé and Príncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Saint Lucia',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'East Timor',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Palestine',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'World']

In [11]:
#Utilizamos otra vez Selenium para escrapear la página y obtener datos de suicidios
url= 'https://en.wikipedia.org/wiki/List_of_countries_by_suicide_rate'

In [12]:
PATH='/home/jbloch3/Documents/Proyecto_ETL/chromedriver'
driver=webdriver.Chrome(PATH)
driver.get(url)




cabeza=driver.find_element_by_tag_name('thead')
cabeceras=[c.text for c in cabeza.find_elements_by_tag_name('th')]

cabeceras

['Country', 'All', 'Male', 'Female']

In [13]:
tabla=driver.find_element_by_tag_name('tbody')

filas=tabla.find_elements_by_tag_name('tr')

datos=[[e.text.strip('→').strip() for e in f.find_elements_by_tag_name('td')] for f in filas]

datos[:10]

[['Afghanistan†', '6.0', '6.2', '5.7'],
 ['Albania', '3.7', '5.3', '2.2'],
 ['Algeria', '2.6', '3.3', '1.9'],
 ['Angola', '12.6', '21.7', '4.7'],
 ['Antigua and Barbuda', '0.3', '0.0', '0.6'],
 ['Argentina', '8.1', '13.5', '3.3'],
 ['Armenia', '2.7', '4.9', '1.0'],
 ['Australia†', '11.3', '17.0', '5.6'],
 ['Austria', '10.4', '16.6', '4.6'],
 ['Azerbaijan', '4.0', '6.6', '1.5']]

## ESTO es lo primero cambiado

In [14]:
df_SuiRa=pd.DataFrame(datos, columns=cabeceras)

for i in range(len(countrylst)):
    for j in range(len(df_SuiRa)):
        if countrylst[i] in df_SuiRa.Country[j]:
            df_SuiRa.Country[j] = countrylst[i]

# paraquitar simbolos de crucecitas, vemos si el país de la otra lista esta en el string y sustituimos

In [15]:
#descargamos de kaggel datos sobre el indice de paz global
df_gpi = pd.read_csv("/home/jbloch3/Documents/Proyecto_ETL/gpi-2008-2019.csv")

In [16]:
df_gpi.head()

,Country,2019 rank,2019 score,2018 rank,2018 score,2017 rank,2017 score,2016 rank,2016 score,2015 rank,...,2012 rank,2012 score,2011 rank,2011 score,2010 rank,2010 score,2009 rank,2009 score,2008 rank,2008 score
0,Iceland,1,1.072,1,1.096,1,1.084,1,1.138,1,...,1,1.159,1,1.099,1,1.143,1,1.160,1,1.111
1,New Zealand,2,1.221,2,1.188,2,1.216,3,1.238,3,...,3,1.276,2,1.255,2,1.251,2,1.260,2,1.261
2,Portugal,3,1.274,5,1.315,3,1.273,5,1.324,12,...,16,1.520,16,1.485,14,1.472,13,1.437,10,1.387
3,Austria,4,1.291,3,1.273,4,1.292,4,1.249,4,...,7,1.407,9,1.416,5,1.383,5,1.369,5,1.337
4,Denmark,5,1.316,4,1.313,5,1.299,2,1.201,2,...,2,1.235,3,1.290,4,1.334,3,1.269,3,1.272

In [17]:
lst = list(df_gpi.columns)
lst
for i in range(len(lst)):
    lst[i] = lst[i].strip('_score').strip().replace(' ', '_')
print(lst)

['Country', '2019_rank', '2019', '2018_rank', '2018', '2017_rank', '2017', '2016_rank', '2016', '2015_rank', '2015', '2014_rank', '2014', '2013_rank', '2013', '2012_rank', '2012', '2011_rank', '2011', '2010_rank', '2010', '2009_rank', '2009', '2008_rank', '2008']

In [18]:
df_gpi.columns = lst

In [19]:
df_gpi.head()

,Country,2019_rank,2019,2018_rank,2018,2017_rank,2017,2016_rank,2016,2015_rank,...,2012_rank,2012,2011_rank,2011,2010_rank,2010,2009_rank,2009,2008_rank,2008
0,Iceland,1,1.072,1,1.096,1,1.084,1,1.138,1,...,1,1.159,1,1.099,1,1.143,1,1.160,1,1.111
1,New Zealand,2,1.221,2,1.188,2,1.216,3,1.238,3,...,3,1.276,2,1.255,2,1.251,2,1.260,2,1.261
2,Portugal,3,1.274,5,1.315,3,1.273,5,1.324,12,...,16,1.520,16,1.485,14,1.472,13,1.437,10,1.387
3,Austria,4,1.291,3,1.273,4,1.292,4,1.249,4,...,7,1.407,9,1.416,5,1.383,5,1.369,5,1.337
4,Denmark,5,1.316,4,1.313,5,1.299,2,1.201,2,...,2,1.235,3,1.290,4,1.334,3,1.269,3,1.272

In [20]:
#Juntamos la información de las tablas en una sola
fusionginisui=pd.merge(df_gini, df_SuiRa, left_on='Country', right_on='Country')

In [21]:
fusionginisui

,Country,UN_R/P_10%,UN_R/P_20%,WB_Gini_%,WB_Gini_Year,All,Male,Female
0,Afghanistan,,,,,6.0,6.2,5.7
1,Albania,7.2,4.2,33.2,2017,3.7,5.3,2.2
2,Algeria,9.6,4.0,27.6,2011,2.6,3.3,1.9
3,Angola,,9.0,51.3,2018,12.6,21.7,4.7
4,Argentina,31.6,8.8,41.4,2018,8.1,13.5,3.3
...,...,...,...,...,...,...,...,...
166,Venezuela,18.8,15.8,46.9,2006,2.1,3.7,0.7
167,Vietnam,6.9,6.2,35.7,2018,7.2,10.6,4.2
168,Yemen,8.6,6.1,36.7,2014,7.1,9.0,5.3
169,Zambia,,21.1,57.1,2015,14.4,25.7,5.3
170,Zimbabwe,,8.6,44.3,2017,23.6,37.8,13.5

In [22]:
df_complete=pd.merge(fusionginisui, df_gpi, left_on='Country', right_on='Country')
df_complete

,Country,UN_R/P_10%,UN_R/P_20%,WB_Gini_%,WB_Gini_Year,All,Male,Female,2019_rank,2019,...,2012_rank,2012,2011_rank,2011,2010_rank,2010,2009_rank,2009,2008_rank,2008
0,Afghanistan,,,,,6.0,6.2,5.7,158,3.300,...,162,3.442,161,3.392,160,3.485,160,3.426,160,3.350
1,Albania,7.2,4.2,33.2,2017,3.7,5.3,2.2,51,1.821,...,63,1.976,62,1.938,59,1.912,62,1.916,69,1.943
2,Algeria,9.6,4.0,27.6,2011,2.6,3.3,1.9,111,2.219,...,125,2.355,140,2.512,130,2.370,126,2.347,127,2.347
3,Angola,,9.0,51.3,2018,12.6,21.7,4.7,77,2.012,...,90,2.105,82,2.074,80,2.020,84,2.021,93,2.069
4,Argentina,31.6,8.8,41.4,2018,8.1,13.5,3.3,75,1.989,...,68,1.984,73,2.007,72,2.000,71,1.962,52,1.859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Venezuela,18.8,15.8,46.9,2006,2.1,3.7,0.7,144,2.671,...,128,2.379,133,2.426,135,2.435,129,2.377,125,2.344
149,Vietnam,6.9,6.2,35.7,2018,7.2,10.6,4.2,57,1.877,...,51,1.850,49,1.843,57,1.905,57,1.883,54,1.860
150,Yemen,8.6,6.1,36.7,2014,7.1,9.0,5.3,160,3.412,...,150,2.790,148,2.735,145,2.686,138,2.484,129,2.350
151,Zambia,,21.1,57.1,2015,14.4,25.7,5.3,49,1.805,...,44,1.810,33,1.721,48,1.839,54,1.864,57,1.879
152,Zimbabwe,,8.6,44.3,2017,23.6,37.8,13.5,132,2.463,...,140,2.528,146,2.695,146,2.752,149,2.831,141,2.472

In [23]:
df_complete.shape

(153, 32)

In [24]:
df_complete['gpi_at_gini_year']=[0. for i in range(len(df_complete))]

In [25]:
df_complete[30:40]

,Country,UN_R/P_10%,UN_R/P_20%,WB_Gini_%,WB_Gini_Year,All,Male,Female,2019_rank,2019,...,2012,2011_rank,2011,2010_rank,2010,2009_rank,2009,2008_rank,2008,gpi_at_gini_year
30,Costa Rica,23.4,12.3,48.0,2018,7.6,13.3,1.9,33,1.706,...,1.740,43,1.793,27,1.654,24,1.631,25,1.619,0.0
31,Croatia,7.3,5.3,30.4,2017,11.0,17.7,5.1,28,1.645,...,1.723,39,1.761,39,1.773,48,1.840,49,1.814,0.0
32,Cuba,,,,,10.2,16.7,4.1,91,2.073,...,2.078,78,2.037,85,2.062,91,2.063,94,2.070,0.0
33,Cyprus,,5.3,31.4,2017,3.2,5.3,1.1,48,1.805,...,1.792,46,1.827,58,1.909,65,1.929,77,2.005,0.0
34,Denmark,8.1,4.0,28.7,2017,7.6,11.1,4.2,5,1.316,...,1.235,3,1.290,4,1.334,3,1.269,3,1.272,0.0
35,Djibouti,,8.8,44.6,2017,11.9,16.3,7.6,109,2.207,...,2.009,85,2.099,84,2.061,92,2.070,95,2.082,0.0
36,Dominican Republic,25.3,10.5,43.7,2018,5.1,8.5,1.9,84,2.041,...,2.105,93,2.136,95,2.123,76,1.998,74,1.992,0.0
37,Ecuador,35.2,10.7,45.4,2018,7.7,11.9,3.6,71,1.980,...,2.138,99,2.156,112,2.216,118,2.280,115,2.244,0.0
38,Egypt,8.0,4.6,31.5,2017,3.4,4.7,2.2,136,2.521,...,2.317,89,2.128,63,1.939,70,1.960,90,2.052,0.0
39,El Salvador,38.6,7.0,38.6,2018,6.1,11.1,2.1,113,2.262,...,2.250,105,2.203,104,2.173,98,2.108,92,2.059,0.0

In [26]:
count= 0
for i in range(len(df_complete)):
    if df_complete['WB_Gini_%'][i] == '':
         df_complete['WB_Gini_%'][i] = 30.

In [27]:
count= 0
for i in range(len(df_complete)):
    if df_complete.WB_Gini_Year[i] == '':
        count+=1
count

13

In [28]:
for i in range(len(df_complete)):
    if df_complete.WB_Gini_Year[i] == '':
         df_complete.WB_Gini_Year[i] = 2018

In [29]:
df_complete[0:10]

,Country,UN_R/P_10%,UN_R/P_20%,WB_Gini_%,WB_Gini_Year,All,Male,Female,2019_rank,2019,...,2012,2011_rank,2011,2010_rank,2010,2009_rank,2009,2008_rank,2008,gpi_at_gini_year
0,Afghanistan,,,30.0,2018,6.0,6.2,5.7,158,3.300,...,3.442,161,3.392,160,3.485,160,3.426,160,3.350,0.0
1,Albania,7.2,4.2,33.2,2017,3.7,5.3,2.2,51,1.821,...,1.976,62,1.938,59,1.912,62,1.916,69,1.943,0.0
2,Algeria,9.6,4.0,27.6,2011,2.6,3.3,1.9,111,2.219,...,2.355,140,2.512,130,2.370,126,2.347,127,2.347,0.0
3,Angola,,9.0,51.3,2018,12.6,21.7,4.7,77,2.012,...,2.105,82,2.074,80,2.020,84,2.021,93,2.069,0.0
4,Argentina,31.6,8.8,41.4,2018,8.1,13.5,3.3,75,1.989,...,1.984,73,2.007,72,2.000,71,1.962,52,1.859,0.0
5,Armenia,8.0,5.0,34.4,2018,2.7,4.9,1.0,118,2.294,...,2.329,123,2.331,129,2.368,127,2.356,125,2.344,0.0
6,Australia,12.5,6.3,34.4,2014,11.3,17.0,5.6,13,1.419,...,1.497,11,1.447,8,1.393,9,1.391,7,1.367,0.0
7,Austria,6.9,4.9,29.7,2017,10.4,16.6,4.6,4,1.291,...,1.407,9,1.416,5,1.383,5,1.369,5,1.337,0.0
8,Azerbaijan,9.7,,26.6,2005,4.0,6.6,1.5,130,2.425,...,2.404,127,2.387,131,2.382,131,2.394,123,2.336,0.0
9,Bahrain,,,30.0,2018,7.2,9.9,2.3,124,2.357,...,2.168,117,2.287,53,1.871,66,1.932,67,1.924,0.0

In [30]:
df_complete

,Country,UN_R/P_10%,UN_R/P_20%,WB_Gini_%,WB_Gini_Year,All,Male,Female,2019_rank,2019,...,2012,2011_rank,2011,2010_rank,2010,2009_rank,2009,2008_rank,2008,gpi_at_gini_year
0,Afghanistan,,,30.0,2018,6.0,6.2,5.7,158,3.300,...,3.442,161,3.392,160,3.485,160,3.426,160,3.350,0.0
1,Albania,7.2,4.2,33.2,2017,3.7,5.3,2.2,51,1.821,...,1.976,62,1.938,59,1.912,62,1.916,69,1.943,0.0
2,Algeria,9.6,4.0,27.6,2011,2.6,3.3,1.9,111,2.219,...,2.355,140,2.512,130,2.370,126,2.347,127,2.347,0.0
3,Angola,,9.0,51.3,2018,12.6,21.7,4.7,77,2.012,...,2.105,82,2.074,80,2.020,84,2.021,93,2.069,0.0
4,Argentina,31.6,8.8,41.4,2018,8.1,13.5,3.3,75,1.989,...,1.984,73,2.007,72,2.000,71,1.962,52,1.859,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Venezuela,18.8,15.8,46.9,2006,2.1,3.7,0.7,144,2.671,...,2.379,133,2.426,135,2.435,129,2.377,125,2.344,0.0
149,Vietnam,6.9,6.2,35.7,2018,7.2,10.6,4.2,57,1.877,...,1.850,49,1.843,57,1.905,57,1.883,54,1.860,0.0
150,Yemen,8.6,6.1,36.7,2014,7.1,9.0,5.3,160,3.412,...,2.790,148,2.735,145,2.686,138,2.484,129,2.350,0.0
151,Zambia,,21.1,57.1,2015,14.4,25.7,5.3,49,1.805,...,1.810,33,1.721,48,1.839,54,1.864,57,1.879,0.0
152,Zimbabwe,,8.6,44.3,2017,23.6,37.8,13.5,132,2.463,...,2.528,146,2.695,146,2.752,149,2.831,141,2.472,0.0

In [31]:
null_cols = df_complete.isnull().count()
null_cols[null_cols > 0]

Country             153
UN_R/P_10%          153
UN_R/P_20%          153
WB_Gini_%           153
WB_Gini_Year        153
All                 153
Male                153
Female              153
2019_rank           153
2019                153
2018_rank           153
2018                153
2017_rank           153
2017                153
2016_rank           153
2016                153
2015_rank           153
2015                153
2014_rank           153
2014                153
2013_rank           153
2013                153
2012_rank           153
2012                153
2011_rank           153
2011                153
2010_rank           153
2010                153
2009_rank           153
2009                153
2008_rank           153
2008                153
gpi_at_gini_year    153
dtype: int64

In [32]:
#Creamos una variable que nos dé el indice de paz mundial en el año del que tenemos información del índice gini
for i in range(len(df_complete)):
    if int(df_complete['WB_Gini_Year'][i]) in range(2008, 2019):
        df_complete.gpi_at_gini_year[i] = df_complete[str(df_complete['WB_Gini_Year'][i])][i]
    else:
        try:
            df_complete.gpi_at_gini_year[i] = df_complete['2019'][i]
        except:
            try:
                df_complete.gpi_at_gini_year[i] = df_complete['2018'][i]
            except:
                df_complete.gpi_at_gini_year[i] = df_complete['2017'][i]

In [33]:
df_complete['2017'][:10]

0    3.347
1    1.920
2    2.188
3    2.007
4    2.012
5    2.258
6    1.387
7    1.292
8    2.457
9    2.410
Name: 2017, dtype: float64

NameError: name 'klnainc' is not defined

In [35]:
null_cols = df_complete.isnull().count()
null_cols[null_cols > 0]

Country             153
UN_R/P_10%          153
UN_R/P_20%          153
WB_Gini_%           153
WB_Gini_Year        153
All                 153
Male                153
Female              153
2019_rank           153
2019                153
2018_rank           153
2018                153
2017_rank           153
2017                153
2016_rank           153
2016                153
2015_rank           153
2015                153
2014_rank           153
2014                153
2013_rank           153
2013                153
2012_rank           153
2012                153
2011_rank           153
2011                153
2010_rank           153
2010                153
2009_rank           153
2009                153
2008_rank           153
2008                153
gpi_at_gini_year    153
dtype: int64

In [36]:
df_complete[4:14]

,Country,UN_R/P_10%,UN_R/P_20%,WB_Gini_%,WB_Gini_Year,All,Male,Female,2019_rank,2019,...,2012,2011_rank,2011,2010_rank,2010,2009_rank,2009,2008_rank,2008,gpi_at_gini_year
4,Argentina,31.6,8.8,41.4,2018,8.1,13.5,3.3,75,1.989,...,1.984,73,2.007,72,2.000,71,1.962,52,1.859,1.955
5,Armenia,8.0,5.0,34.4,2018,2.7,4.9,1.0,118,2.294,...,2.329,123,2.331,129,2.368,127,2.356,125,2.344,2.302
6,Australia,12.5,6.3,34.4,2014,11.3,17.0,5.6,13,1.419,...,1.497,11,1.447,8,1.393,9,1.391,7,1.367,1.387
7,Austria,6.9,4.9,29.7,2017,10.4,16.6,4.6,4,1.291,...,1.407,9,1.416,5,1.383,5,1.369,5,1.337,1.292
8,Azerbaijan,9.7,,26.6,2005,4.0,6.6,1.5,130,2.425,...,2.404,127,2.387,131,2.382,131,2.394,123,2.336,2.425
9,Bahrain,,,30.0,2018,7.2,9.9,2.3,124,2.357,...,2.168,117,2.287,53,1.871,66,1.932,67,1.924,2.404
10,Bangladesh,7.5,4.8,32.4,2016,3.9,6.0,1.7,101,2.128,...,2.188,100,2.157,98,2.156,94,2.076,99,2.101,2.046
11,Belarus,6.9,3.6,25.2,2018,16.5,30.1,5.3,97,2.115,...,2.280,110,2.236,107,2.204,110,2.202,110,2.187,2.112
12,Belgium,8.2,4.2,27.4,2017,13.9,19.6,8.4,18,1.533,...,1.493,18,1.500,18,1.517,17,1.504,16,1.494,1.536
13,Benin,9.4,16.3,47.8,2015,12.7,20.3,6.1,72,1.986,...,2.212,113,2.261,111,2.213,112,2.214,113,2.218,1.975

In [37]:
df_complete.to_csv("/home/jbloch3/Documents/Proyecto_ETL/tabla_suici_desi_paz4.csv", index=False)

In [ ]:
connection = conn.connect(host='localhost', user='root', password='culoculete', database='sys')
cursor=connection.cursor()
cursor.execute('show databases')
for x in cursor:
    print(x)

In [ ]:
str_conn='mysql+pymysql://root:culoculete@localhost:3306/sys'
motor=create_engine(str_conn)

In [ ]:
df_complete.to_sql(name='gini_bien', con=motor,
         if_exists= 'append', index=False)

In [ ]:
data=pd.read_sql('select * from gini', motor)
data.head()